.donate{
    display: flex;
    flex-direction: column;

    gap:8rem;

    
    .donate-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:8.375rem;
        padding-top:10rem;
        h1{
            font-size: 4rem;
        }


        .donation-container{
            background-color: #FfffFF;
            padding: 4.438rem;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .donation-head{
                
                display: flex;
                gap:5.188rem;
                align-items: center;
                img{
                    width: 19.875rem;
                    border-radius: 6px;
                }
                .donation-names{
                    display: flex;
                    flex-direction: column;
                    gap:2rem;
                }

            }

            .donation-body{
                display:flex;
                flex-direction: column;
                gap:2rem;
                .donation{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    gap:2rem;
                    .donation-form{
                        justify-content: center;
                        gap: 1rem;
                        p{
                            font-size: 2rem;
                            border: solid 2px rgba(0, 0, 0, 0.3);
                            border-radius: 20px;
                            padding:1.5rem;
                            cursor: pointer;    
                        }

                        .selected{
                            background-color: rgba(0, 0, 0, 1);
                            color: #FfffFF;
                        }
                    }

                    input{
                        width: 63%;
                        font-size: 2rem;
                        padding:1.5rem;
                        text-align: right;
                        border-radius: 20px;
                        border-color: rgba(0, 0, 0, 0.3);
                    }
                }


                .your-donation{

                    display:flex;
                    flex-direction: column;
                    
                    gap:2rem;
   
                    button{
                        background-color: #FFE922;
                        border:none;
                        border-radius: 16px;
                        font-size: 1.5rem;
                        padding:.5rem;
                        width: 20%;
                        margin:auto;
                    }
                }
            }
        }
    }
}