@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');



.explore{
    background-color: #082147;
    display:flex;
    flex-direction: column;
    align-items: center;
    


    .subtitulo-header{
        background-color: #FFE922;
        width: 100%;
        height: 5rem;
        text-align: center;
        font-size:2.125rem ;
        font-weight: bold;
        color:#373333;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .titulo-emprendimientos{
        font-size: 4rem;
        font-weight: bold;
        padding-top: 5.25rem;
    }
    .header-explore{
        background-image: url("../../assets/personas.png");
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        box-shadow: inset 0 0 100rem rgba(0, 0, 0, 0.9); /* Sombra hacia adentro */
        width: 100%;
        display:flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 14.375rem;
        padding-bottom:11.186rem ;
        color:#FFFFFF;
        .titulo-explore{
            font-size: 4rem;
            font-weight: bold;
        }
        .texto-animado{
            font-size: 3rem;
        }


    }

    .no-business-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5.25rem;
        .no-business-text{
            font-size: 2.5rem;
            color: #FFFFFF;
            text-align: center;
        }
        img{
            width: 16rem;
            height: 16rem;
        }
    }

    .emprendimientos{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 75.063rem;
        row-gap:4.75rem;
        gap:4.063rem;
        padding: 5.25rem 0;
        
        
        
    }

    .pagination{
        display:flex;
        gap:1rem;
        font-size: 1.875rem;
        color:#FFFFFF;
        cursor:default;
        font-family: 'Fira Code', monospace;
        padding-bottom: 8.938rem;
            p{
                cursor:pointer;
            }
            p[disabled]{
                color: #000000;
                cursor:default;
            }
    }
}

/*  Borrar ahorita */

.search-bar {
    border-radius: 10px;
    width: 44.375rem;
    height: 2.25rem;
    padding: 0 1rem;
}

.highlight {
    background-color: yellow;
}

