@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .foto-login{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .form{
        max-width: 26rem;
  }

  input{
    max-width: 284px;
  }
}

.back{
  background-color: #FFE922;
}

.form-check{
  display:flex;
  justify-content: space-between;
}

.logo{
  object-fit: contain;
  width: 10rem;
}

.mini-header{
  display:flex;
  align-items: center;
  justify-content: space-between;;
}