@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .foto-login{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .form{
        max-width: 26rem;
  }

  input{
    max-width: 284px;
  }
}
