.profile{
    display:flex;
    flex-direction: column;
    gap:.5rem;
    align-items: center;
    justify-content: center;
    button{
        display:flex;
        background-color: rgba(0, 0, 0, .51);
        border-radius: 10px;
        align-items: center;
        padding:1rem 1.5rem;
        font-size: 1rem;

    }

    .drop{
        background-color: rgba(0, 0, 0, .51);
        border-radius: 10px;
        padding:1.5rem;
    }
}


.logout{

    
}