/* texto-animado.css */
#animated-text {
	white-space: nowrap;
	overflow: hidden;
	font-size: 1.5em;
	border-right: 0.15em solid orange;
	width: 100%;
}

@keyframes typing {
	from { width: 0; }
	to { width: 100%; }
}

@keyframes blink-caret {
	from, to { border-color: transparent; }
	50% { border-color: orange; }
}
