.header{
    background-image: url("../../assets/personas.png");
    background-size: cover; /* Ajusta la imagen para cubrir el div */
    background-position: center; /* Centra la imagen en el div */
    background-repeat: no-repeat;
    height: 100%;
    color:#FFFFFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 14.375rem;
    padding-bottom:11.186rem ;
    box-shadow: inset 0 0 100rem rgba(0, 0, 0, 0.9); /* Sombra hacia adentro */
    gap:4.645rem;

    .titulos-header{

        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1.5rem;
        .titulo-header{
        font-size: 4rem;
        font-weight: bold;
        line-height:4.75rem ;
    }

    .subtitulo-header{
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.8);
        width: 50.188rem;
    }
    }
    

    .explore-boton{
        background-color: #FFE922;
        color: #1A1C21;
        font-size: 1.5rem;
        width:16.438rem ;
        height: 3.982rem;
        
        padding:1.241rem 4.844rem ;
        border-radius: 10px;
        cursor:pointer;
    }
}

.texto-abajo{
    background-color: #FFE922;
    font-size: 2.125rem;
    color:#373333;
    font-weight: bold;
    text-align: center;
    padding:.75rem 0;
}