@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
*{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #FFE922 black;
    scroll-behavior: smooth;
}


a{
  text-decoration: none;
  color: #fff;
}

#root{
  background-color: #072148;
  width: 100%;
  height:100%
}
